* {
    box-sizing: border-box;
}

/*Position the image container (needed to
position the left and right arrows*/
.container {
    position: relative;
}

/*Hide the images by default*/
.mySlides {
    display: none;
}

/*Add a pointer when hovering over
the thumbnail images*/

.cursor {
    cursor: pointer;
}

/*Next and previous buttons*/
.prev, next {
    cursor: pointer;
    position: absolute;
    
}